<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th><th>
                    Name
                </th><th>
                    Email
                </th>
            </tr>
        </thead>
        <tbody>
             <tr th:each="c:${customers}">
                    <td th:text="${c.id}"></td>
                    <td th:text="${c.name}"></td>
                    <td th:text="${c.email}"></td>
                </tr>
        </tbody>
    </table>
</body>
</html>